<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Intro to HTML</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <h2>Hello World</h2>
        <h3>Hello World</h3>
        <h4>Hello World</h4>
        <h5>Hello World</h5>
        <h6>Hello World</h6>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
            totam maxime qui doloremque molestias voluptatum, nemo quis, sed
            asperiores ratione earum eaque deleniti dicta. Dolorem ad facilis
            iusto deserunt nisi.
        </p>

        <a href="https://www.google.com">Google</a>

        <!-- Media element tags -->
        <img  src="../static/images/puppy.jpg" width="300" alt="Cute puppy"> 
        
        <!-- Files too large to upload -->

        <!-- <audio controls>
            <source src="../static/sounds/Breath (Edited).wav" type="audio/wav">
        </audio> -->

        <!-- <video src="../static/videos/guitar_recording.mp4"></video> -->
        
        <!-- ... -->

        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Occupation</th>
            </tr>
            <tr>
                <td>Corey</td>
                <td>Mckeel</td>
                <td>30</td>
                <td>Instructor</td>
            </tr>
            <tr>
                <td>Corey</td>
                <td>Mckeel</td>
                <td>30</td>
                <td>Instructor</td>
            </tr>
            <tr>
                <td>Corey</td>
                <td>Mckeel</td>
                <td>30</td>
                <td>Instructor</td>
            </tr>
            <tr>
                <td>Corey</td>
                <td>Mckeel</td>
                <td>30</td>
                <td>Instructor</td>
            </tr>
        </table>

        <ul>
            <li><h2>Pokemon</h2></li>
            <li>Pikachu</li>
            <li>Charmander</li>
            <li>Diglett</li>
            <li>Squirtle</li>
            <li>Scyther</li>
            <li>Ditto</li>
        </ul>

        <ol>
            <li>Pikachu</li>
            <li>Charmander</li>
            <li>Diglett</li>
            <li>Squirtle</li>
            <li>Scyther</li>
            <li>Ditto</li>
        </ol>

        <form action="#">
            <label>Name</label>
            <div>
                <input type="text">
            </div>
            <div>
                <input type="password">
            </div>
            <div>
                <input type="number">
            </div>
            <div>
                <input type="date">
            </div>

            <div>
                <input type="checkbox" name="favoriteLanguage">
                <label>Python</label>
                <input type="checkbox" name="favoriteLanguage">
                <label>C++</label>
                <input type="checkbox" name="favoriteLanguage">
                <label>C Sharp</label>
                <input type="checkbox" name="favoriteLanguage">
                <label>Java</label>
                <input type="checkbox" name="favoriteLanguage">
                <label>Javascript</label>
            </div>

            <div>
                <input type="radio" name="gender">
                <label>Male</label>
                <input type="radio" name="gender">
                <label>Female</label>
                <input type="radio" name="gender">
                <label>Other</label>
            </div>

            <select name="Pizza Topping">
                <option value="">Pepperoni</option>
                <option value="">Cheese</option>
                <option value="">Sausage</option>
            </select>
            <input type="submit" value="Break the walls">
            <textarea name="comment" cols="30" rows="10"></textarea>
            <button>Submit</button>
        </form>
    </body>
</html>
